<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=3">
</head>
<body>
    <div class="form-container">
        <h2>Registrarse</h2>
        <form method="POST" action="{{ url_for('register') }}">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
        </form>
        <a href="/login"> ¿ tienes cuenta? Inicia sesion </a>
    </div>
</body>
</html>
